<%- include("partials/header.ejs") %>

<h1>Contact Me</h1>
<% if (locals.result) { %>
    <hr>
    <br/>📧<br/>
    <p><%= result %></p>
<% } else { %>
    <form action="/submit" method="post">
        <input name="name" type="text" class="feedback-input" placeholder="Name" />
        <input name="email" type="text" class="feedback-input" placeholder="Email" />
        <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
        <input type="submit" value="SUBMIT" />
    </form>
<% } %>


<%- include("partials/footer.ejs") %>